<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

객체지향  변수 my_height 와 같은 문자열 형 변수에 숫자1을 더하는 연산이 불가능

코드 2-7 : 문자열과 정수의 덧셈연산

In [ ]:
my_age = 22
my_height = '177'
my_age = my_age + 1
~~~

• 정수나 실수 사이에는 덧셈, 뺄셈, 곱셈, 나눗셈의 사칙연산이
잘 적용됨

In [7]:
4 ** 0.2

1.3195079107728942

In [8]:
0.2 ** 4

0.0016000000000000003

str()함수를

In [10]:
my_age = input('how old are you')
print(my_age)
print(type(my_age))

how old are you16
16
<class 'str'>

 int()함수로 바꿈

In [11]:
my_age = int(input('how old are you'))
print(my_age)
print(type(my_age))

how old are you11
11
<class 'int'>

엔터 공란을 컴퓨터는 이해하지 못하므로 다음줄을 넘길때는 \n 문자를 삽입한다

In [13]:
txt5 = 'banana \n napple \n norange'
txt5
print(txt5)

banana 	 napple
 norange

/t  는  TAP 역할을 한다

In [14]:
txt5 = 'banana \t napple \t norange'
txt5
print(txt5)

banana 	 napple 	 norange

대화창 실습 : 자료형과 연산자 실습

In [19]:
print(1 + 2)
print(1.0 + 2.0)
print(1 + 2.0)
print(1/2)
print(5.0 == 5.00)

3
3.0
3.0
0.5
True

• 허수의 표현에 ‘i’를 사용하면 오류가 발생
•
‘j’를 사용해야 복소수 표현이 가능

In [26]:
from binascii import crc32
c1 = 2 + 3j
c2 = 1 - 1j
c3 = c1 * c2
print(c3)

(5+1j)

논리연산자

In [27]:
10 > 20
10< 20
bool(9)

True

In [34]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [37]:
a = 3
b = 4
print(a&b)
print(a | b)

0
7

3장

In [46]:
age = int(input('how old are you'))
if age <= 19:
    print('청소년 할인')

    print('출구는 이쪽입니다.')

how old are you16
청소년 할인
출구는 이쪽입니다.

else 문

In [48]:
hour = 10

time = int(input('몇시 입니까?'))
if hour < 12:
    print('오전입니다.')
else:
    print('오후입니다.')

몇시 입니까?12
오전입니다.