<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5장 리스트 배포용

In [1]:
score_list = [87, 84, 95, 67, 88, 94, 63]
print(score_list)

[87, 84, 95, 67, 88, 94, 63]

In [2]:
print(score_list[0])

87

In [3]:
print(score_list[3])    #리스트안에 숫자도 들어감

67

In [4]:
fruits = ['banana', 'apple', 'oragne', 'kiwi']    #리스트안에 문자도들어감
print(fruits)

['banana', 'apple', 'oragne', 'kiwi']

In [5]:
array = [[1,2],[2,2]]            #리스트안에 리스트 변수도 들어간다
print(array)

[[1, 2], [2, 2]]

In [6]:
list1 = list(range(1,9))   #1부터 8까지만 만들어짐 (리스트변수가아닌데 list변수를넣어만듬)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

In [9]:
list2 = []
list2.append(4)
print(list2)

[4]

In [10]:
list2 = []
list2.append(4)
print(list2)
list2.append('add')
print(list2)

[4]
[4, 'add']

In [11]:
str = 'ABCDE'
print(str[0])

A

In [12]:
print(list1[0:4])

[1, 2, 3, 4]

In [15]:
n_list = [10, 20 ,30 ,40]
print(n_list.pop())
print(n_list)

40
[10, 20, 30]

In [16]:
fruits = ['banana', 'apple', 'oragne', 'kiwi']    #리스트안에 문자도들어감
print('banana' in fruits)
if 'banana' in fruits :
  print('there is my favorite fruit')

True
there is my favorite fruit

In [24]:
n_list = [11, 22, 33, 44, 55, 66]
if (55 in n_list) :
  n_list.remove(55)
print(n_list)

[11, 22, 33, 44, 66]

In [26]:
fruits = ['banana', 'apple', 'oragne', 'kiwi']    #리스트안에 문자도들어감
print(sum(fruits)

SyntaxError: incomplete input (<ipython-input-26-1b1e3d536352>, line 2)

In [28]:
n_list = [22, 44, 11, 66, 55, 33]
a_list = sorted(n_list)
print(a_list)
print(n_list)

[11, 22, 33, 44, 55, 66]
[22, 44, 11, 66, 55, 33]

In [29]:
str = 'abc'*3
print(str)

abcabcabc