<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/day6_3_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

min(), max(), sum()과 같은 파이썬 내장함수의 인자로 리스트를
넘겨주면 각각 리스트 안의 최솟값, 최댓값, 합 연산 가능

len() 함수는 리스트 내 항목의 개수를 반환

In [18]:
numbers = [11 , 2 ,5]
print(max(numbers))
print(min(numbers))
print(len(numbers))

11
2
3

5.6 리스트의 메소드

• 정렬sorting 메소드인 sort()
• 디폴트로 오름차순 정렬을 수행
• 리스트 변수 뒤에 마침표(.)와 sort()를 적음
• 오름차순 정렬ascending order sorting
• 값이 증가하는 정렬
• 내림차순 정렬descending order sorting
• 값이 감소하는 정렬

In [19]:
numbers = [11, 2, 5]  #정렬
numbers.sort()

In [24]:
str = "Puykyong National University"
num_o= str.count('o')

extend() 메소드 실습
• extend()는 리스트 뒤에 리스트
나 항목을 추가하는 메소드

In [28]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)  #추가 붙이기?
list1

list1.extend('d')
list1

['a', 'b', 'c', 1, 2, 3, 'd']

5.9 리스트의 슬라이싱
리스트_이름[start : end]
기타 등등등

In [47]:
a_list = [10, 20 , 30 ,40 ,50 ,60 ,70 ,80]   #[1:-1] [20, 30, 40, 50, 60, 70]
a_list[1:-1]

[20, 30, 40, 50, 60, 70]

In [45]:
a_list = [10, 20 , 30 ,40 ,50 ,60 ,70 ,80]   #[:-1] [10, 20, 30, 40, 50, 60, 70]
a_list[:-1]

[10, 20, 30, 40, 50, 60, 70]

In [46]:
a_list = [10, 20 , 30 ,40 ,50 ,60 ,70 ,80]   #[-1:] 하니 80부터 출력됨
a_list[-1:]

[20, 30, 40, 50, 60, 70]

4.2 함수와 매개변수

In [48]:
def plus(a,b):
  c = a+b
  return c

res = plus(4,3)
print(res)

7

코드 4-16	:	함수 내부에서 값을 변경하고,	그 값을 외부에서 확인하기

In [50]:
def print_sum():
  a = 100
  b = 200
  result = a+ b
  print('print_sum() 내부 :',a, '과', b, '의 합은', result,'입니다.')
a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 내부 :',a, '과', b, '의 합은', result,'입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 내부 : 10 과 20 의 합은 30 입니다.

In [ ]:
n = int(input("번호를 입력하시오:"))
is_prime = True
def chk_prime(7):

  return is_prime

print(chk_prime(7))

def 변수 정답본 매우중요!!!!!!!!!!!!

In [72]:
def chk_prime(a):
  is_prime = True
  for i in range(2, a):
    if a % i == 0:
      is_prime = False
      break

    return is_prime
num = 7
is_prime = chk_prime(num)
if(is_prime):
  print(num, 'is a prime number')
else:
  print(num, 'is not a prime number')

7 is a prime number

In [69]:
def mult(a,b):
  return a+b

print(mult(4,5))

9

In [70]:
def mult(a,b):
  return a+b
a = 213
b = 235
c = mult(a,b)
print(c)

448