<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('원의 반지름', 5.0)    # 5.0이 반복적으로 사용되니 변수로 지정해 편하게 쓴다
print('원의 면적', 3.14 * 5.0 * 5.0)
print('원의 반지름', 2.0 * 3.14 * 5.0)

print('원의 반지름', 6.0)
print('원의 면적', 3.14 * 6.0 * 6.0)
print('원의 반지름', 2.0 * 3.14 * 5.0)

원의 반지름 5.0
원의 면적 78.5
원의 반지름 31.400000000000002
원의 반지름 6.0
원의 면적 113.03999999999999
원의 반지름 31.400000000000002

In [4]:
r = 6.0                    # 변수 사용방법 적용
print('원의 반지름', r)    # 5.0이 반복적으로 사용되니 변수로 지정해 편하게 쓴다
print('원의 면적', 3.14 * r * r)
print('원의 반지름', 2.0 * 3.14 * r)

원의 반지름 5.0
원의 면적 78.5
원의 반지름 31.400000000000002

In [9]:
name = '윤상현'            #변수의 선언 literal(리터럴)
print('이름 :', name)      # 할당연산자 오른쪽에있는걸 왼쪽에 할당한다
# 이름 : 윤상현
width = 10
height = 5
rectangle_area = width * height
print('사각형의 면적:', rectangle_area)
# 사각형의 면적 : 50

이름 : 윤상현
사각형의 면적: 50

In [8]:
name = '윤상현'
print('이름 :', name)               # 할당연산자 오른쪽에있는걸 왼쪽에 할당한다
# 이름 : 윤상현
width = 20
height = 5
rectangle_area = width * height
print('사각형의 면적:', rectangle_area)       #변수라서 공식이 저장되는것이 아닌 숫자가 저장된다
# 사각형의 면적 : 50

이름 : 윤상현
사각형의 면적: 100

#식별자 이름 규칙   식별자identifier
#1. 문자와 숫자, 밑줄 문자 _로 이루어진다.
#2. 중간에 공백이 들어가면 안 된다.
#3. 첫 글자는 반드시 문자나 밑줄 문자 _로 시작해야 한다.
#4. 대문자와 소문자는 구분된다. 따라서 Count와 count는 서로 다른 식별자이다.
#5. 식별자의 길이에 제한은 없다.
#6. 키워드는 식별자로 사용할 수 없다.

In [40]:
sum = 100  # sum 대신 다른 변수명 사용
lst = [10, 20, 30]
total = sum(lst)

TypeError: 'int' object is not callable

오류 나는것이 정상

In [45]:
total_sum = 100  # sum 대신 다른 변수명 사용
lst = [10, 20, 30]
total = sum(lst)  # 정상 작동
print(total)  # 60

60

In [46]:
name = '홍길동'
age = 27
print('안녕! 나는', name , '이아. 나는 나이가', age, '살이야.')

안녕! 나는 홍길동 이아. 나는 나이가 27 살이야.

In [48]:
name = '홍길동'
age = 27
print('안녕! 나는', name , '이아. 나는 나이가', age, '살이야.')

name = '홍길순'   #변수에 새로운 값 할당함
age = 23
print('안녕! 나는', name , '이아. 나는 나이가', age, '살이야.')

안녕! 나는 홍길동 이아. 나는 나이가 27 살이야.
안녕! 나는 홍길순 이아. 나는 나이가 23 살이야.

lab 2-2 2-7까지 다해보기 (과제)

In [62]:
num = 85
type(num)
 #<class 'int'>
pi = 3.14159
type(pi)               # 실수형변수
#<class 'float'>
message = "good morning"
type(message)
#<class 'str'>

str