<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/homeworkchapter_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5-1

In [1]:
def my_greet():
    print("환영합니다.")

my_greet()
my_greet()

환영합니다.
환영합니다.

5-5

In [2]:
def inch2cm(inch):
    return inch * 2.54

for i in range(1, 6):
    cm = inch2cm(i)
    print(f"{i} 인치 = {cm:.2f} 센티미터")

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.70 센티미터

5-9

In [4]:
def mean_of_n(nums):
    return sum(nums) / len(nums)

def max_of_n(nums):
    return max(nums)


def min_of_n(nums):
    return min(nums)

user_input = input("정수를 여러 개 입력하시오 : ")
nums = list(map(int, user_input.split()))


print(f"평균값은 {mean_of_n(nums):.1f}")
print(f"최댓값은 {max_of_n(nums)}")
print(f"최솟값은 {min_of_n(nums)}")

정수를 여러 개 입력하시오 : 1 5 8
평균값은 4.7
최댓값은 8
최솟값은 1

5-13

In [5]:
PI = 3.14


def volume(shape, *args):
    if shape == 'cube':
        s = args[0]
        return s ** 3
    elif shape == 'rectangular':
        w, h, l = args
        return w * h * l
    elif shape == 'cone':
        r, h = args
        return (1/3) * PI * r**2 * h
    elif shape == 'sphere':
        r = args[0]
        return (4/3) * PI * r**3
    elif shape == 'cylinder':
        r, h = args
        return PI * r**2 * h
    else:
        return None


print("1) 정육면체, 모서리 12:", volume('cube', 12))
print("2) 정육면체, 모서리 20:", volume('cube', 20))
print("3) 직육면체, 가로 3, 세로 5, 높이 6:", volume('rectangular', 3, 5, 6))
print("4) 원뿔, 반지름 20, 높이 10:", volume('cone', 20, 10))
print("5) 구, 반지름 15:", volume('sphere', 15))
print("6) 원기둥, 반지름 20, 높이 10:", volume('cylinder', 20, 10))

1) 정육면체, 모서리 12: 1728
2) 정육면체, 모서리 20: 8000
3) 직육면체, 가로 3, 세로 5, 높이 6: 90
4) 원뿔, 반지름 20, 높이 10: 4186.666666666666
5) 구, 반지름 15: 14130.0
6) 원기둥, 반지름 20, 높이 10: 12560.0

5-17

In [6]:
def sum_range(n1, n2):
    return sum(range(n1, n2 + 1))


print("10에서 20까지의 정수의 합 : {}".format(sum_range(10, 20)))
print("40에서 100까지의 정수의 합 : {}".format(sum_range(40, 100)))

10에서 20까지의 정수의 합 : 165
40에서 100까지의 정수의 합 : 4270

5-21

In [7]:
def parse_rrn(rrn):
    yy = int(rrn[:2])
    mm = int(rrn[2:4])
    dd = int(rrn[4:6])

    # 연도 계산
    if yy >= 50:
        year = 1900 + yy
    else:
        year = 2000 + yy

    # 결과 출력
    print(f"{year}년 {mm}월 {dd}일")

# 예시 입력
rrn1 = "570312"
rrn2 = "011123"

print("주민등록번호 첫 6숫자 형식 입력:", rrn1)
parse_rrn(rrn1)
print()
print("주민등록번호 첫 6숫자 형식 입력:", rrn2)
parse_rrn(rrn2)

주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일

주민등록번호 첫 6숫자 형식 입력: 011123
2001년 11월 23일

5-25

In [8]:
s1 = 'Kang Young Min'
s2 = 'Kang Young-Min'
s3 = 'Park Dong Min'
s4 = 'Park Dong-Yun'

strings = [s1, s2, s3, s4]

for s in strings:
    original = s
    modified = s.replace(" ", "").replace("-", "").upper()
    count_n = modified.count('N')
    print(f"{original}(은)는 {modified}(으)로 수정됨")
    print(f"문자 'N'은 {count_n}번 나타납니다.\n")

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
문자 'N'은 3번 나타납니다.

Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
문자 'N'은 3번 나타납니다.

Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
문자 'N'은 2번 나타납니다.

Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
문자 'N'은 2번 나타납니다.