<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/home_work3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

으뜸파이썬 연습문제

2-1

In [3]:
print( 100,'+', 200 , '=', 100 + 200)

print( 200,'+', 300 , '+' ,400, '=', 200 + 300 + 400)

100 + 200 = 300
200 + 300 + 400 = 900

2-2

In [6]:
weight = 30
heigth = 60

print(weight)
print(heigth)

30
60

2-3

In [8]:
width = 30
height = 60

area = width * height

print("사각형의 면적:", area)

사각형의 면적: 1800

2-4

In [67]:
width = 40
height = 20

area = (width * height) / 2

print("삼각형의 면적:", area)

삼각형의 면적: 400.0

2-5

In [12]:
side = int(input("정사각형의 밑변을 입력하시오: "))

area = side ** 2

print("정사각형의 면적:", area)

정사각형의 밑변을 입력하시오: 40
정사각형의 면적: 1600

2-6

In [61]:
a = sum(range(1, 11))


print('1에서 10까지의 합:', a)

1에서 10까지의 합: 55

2-7

In [66]:
print('10! =', 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10)

10! = 3628800

2-8

In [24]:
a = 2
n = 2

print("a  n  a**n")
print(a, n, a**n)
print(a+1, n, (a+1)**n)
print(a+2, n, (a+2)**n)
print(a+3, n, (a+3)**n)
print(a+4, n, (a+4)**n)

a  n  a**n
2 2 4
3 2 9
4 2 16
5 2 25
6 2 36

2-9

In [71]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(f"{'섭씨':<10} {'화씨'}")

for celsius in range(0, 51, 10):
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius:<10} {fahrenheit}")

섭씨         화씨
0          32.0
10         50.0
20         68.0
30         86.0
40         104.0
50         122.0

2-10

In [26]:
a = int(input('섭씨온도를 입력하세요:'))
print('섭씨',a,'도는 화씨', (9/5) * a+32,'도입니다')

섭씨온도를 입력하세요:30
섭씨 30 도는 화씨 86.0 도입니다

2-11

In [82]:
a = int(input('화씨온도를 입력하세요:'))
print('화씨',a,'도는 섭씨', (a-32) * 5/9 ,'도입니다')

화씨온도를 입력하세요:86
화씨 86 도는 섭씨 30.0 도입니다

2-12

In [84]:
PI = 3.141592
radius = 11

circumference = 2 * PI * radius
area = PI * radius ** 2

print(f"원의 반지름 = {radius}")
print(f"원의 둘레 = {circumference}")
print(f"원의 면적 = {area}")

원의 반지름 = 11
원의 둘레 = 69.115024
원의 면적 = 380.132632

2-13

In [88]:
PI = 3.141592
radius = int(input('원의 반지름을를 입력하세요:'))

circumference = 2 * PI * radius
area = PI * radius ** 2

print(f"원의 반지름 = {radius}")
print(f"원의 둘레 = {circumference}")
print(f"원의 면적 = {area}")

원의 반지름을를 입력하세요:11
원의 반지름 = 11
원의 둘레 = 69.115024
원의 면적 = 380.132632

2-14

In [33]:
r = 0.5

print('2의 제곱근 =', 2 ** r)
print('3의 제곱근 =', 3 ** r)
print('4의 제곱근 =', 4 ** r)
print('5의 제곱근 =', 5 ** r)
print('6의 제곱근 =', 6 ** r)
print('7의 제곱근 =', 7 ** r)
print('8의 제곱근 =', 8 ** r)
print('9의 제곱근 =', 9 ** r)
print('10의 제곱근 =', 10 ** r)

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

2-15

In [98]:
a = int(input('밑변을 입력하세요:'))
b = int(input('높이를을 입력하세요:'))
c = print('빗변 :',(a**2 + b**2)**0.5)

밑변을 입력하세요:5
높이를을 입력하세요:12
빗변 : 13.0

2-16

In [102]:
#어려움!!!!!!!!!!

# 원래 복소수
z = 1 + 2j

# 회전 각도 (90도 = π/2 라디안)
theta = cmath.pi / 2

# 회전된 복소수 계산
z_rotated = z * cmath.exp(1j * theta)

# 결과 출력
print("회전하기 전:", z)
print("90도 회전한 후:", z_rotated)

회전하기 전: (1+2j)
90도 회전한 후: (-2+1.0000000000000002j)

2-17

In [105]:
powers_of_two = []

for i in range(10):
    result = 2 ** (i + 1)
    powers_of_two.append(result)

print(powers_of_two)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

2-18

In [117]:
a = int(input('정수를 입력하세요: '))

# 조건문을 사용하여 짝수인지 확인
if a % 2 == 0:
    print('이 수가 짝수인가요? True')
else:
   print('이 수가 짝수인가요? False')

정수를 입력하세요: 21
이 수가 짝수인가요? False

2-19

In [48]:
a = int(input('정수를 입력하세요: '))
if 0 < a <= 100 and a % 2 == 0:
    print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요 True')
else:
    print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요 False')

정수를 입력하세요: 2
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요 True.

2-20

In [119]:
a = 5
b = 6

and_result = a & b
or_result = a | b
xor_result = a ^ b

print(f'0b{bin(a)[2:]} & 0b{bin(b)[2:]} = 0b{bin(and_result)[2:]}')
print(f'0b{bin(a)[2:]} | 0b{bin(b)[2:]} = 0b{bin(or_result)[2:]}')
print(f'0b{bin(a)[2:]} ^ 0b{bin(b)[2:]} = 0b{bin(xor_result)[2:]}')

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

2-21

In [50]:
a = int(input('정수를 입력하시오 :'))
print(a, '의 2진수 값:', bin(a))
print(a,'의 2진수 값에 대한 비트단위 부정값 :',bin(~a))

정수를 입력하시오 :9
9 의 2진수 값: 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

2-22

In [130]:
a = int(input('정수 a를 입력하세요: '))
b = int(input('정수 b를 입력하세요: '))

quotient = a // b
remainder = a % b

print(f'a / b의 몫: {quotient}')
print(f'a / b의 나머지: {remainder}')

정수 a를 입력하세요: 202
정수 b를 입력하세요: 50
a / b의 몫: 4
a / b의 나머지: 2

2-23

In [ ]:
a = int(input('세 자리 정수를 입력하시오: '))

hundreds = a // 100          # 백의 자리
tens = (a // 10) % 10        # 십의 자리
units = a % 10               # 일의 자리

print(f'백의 자리: {hundreds}')
print(f'십의 자리: {tens}')
print(f'일의 자리: {units}')

2-24

In [132]:
a = int(input('세 자리 정수를 입력하시오: '))

hundreds = a // 100          # 백의 자리
tens = (a // 10) % 10        # 십의 자리
units = a % 10               # 일의 자리

print(f'백의 자리: {units}')
print(f'십의 자리: {tens}')
print(f'일의 자리: {hundreds}')

세 자리 정수를 입력하시오: 349
백의 자리: 9
십의 자리: 4
일의 자리: 3