<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/homework8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
list_ex = [10, 20, 30, 40, 50, 60, 70]
high = 5   #변수 5지정
low = 3    #변수 3지정
list_ex[low]   #low가 3이라 40출력

list_ex[low + 2]  # 40에 + 2  60출력

list_ex[high - low] # 5 - 3 2 라서 30출력

list_ex[-1] #70출력됨 -1이라서 뒤에서부터?

list_ex[2*3] #2*3 6   70출력 0, 1, 2, 3, 4, 5, 6,

list_ex[2] * 3   #30먼저 출력되고 30에*3 해서 90출력

list_ex[5 % 4]  #5 ÷ 4 = 1  0, 1 이라서 20출력

len(list_ex) # [10, 20, 30, 40, 50, 60, 70] 의갯수 7나옴

7

In [11]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

for num1 in list1:
    for num2 in list2:
        print(f"{num1} * {num2} = {num1 * num2}")

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [25]:
list1 = ['I like', 'I love']
list2 = [' Pancake.', ' Kiwi juice', ' espresso.']

for a in list1:     #변수이름 a 로 설정
    for b in list2: #변수이름 b 로 설정
        print(a, b)

I like  Pancake.
I like  Kiwi juice
I like  espresso.
I love  Pancake.
I love  Kiwi juice
I love  espresso.

In [28]:
n_list = [10, 20, 30, 50, 60]

total = 0  # 합을 저장할 변수
for num in n_list:  # 리스트의 모든 숫자
    total += num  # total에 숫자를 더함

print("리스트 원소들의 합:", total)

리스트 원소들의 합: 170

In [29]:
n_list = [10, 20, 30, 50, 60]

max_value = n_list[0]  # 첫 번째 값을 최댓값으로 설정

# 리스트를 순회하면서 최댓값 찾기
for num in n_list:
    if num > max_value:  # 현재 값이 max보다 크면 업뎃
        max_value = num

print("리스트 원소들:", n_list)
print("리스트 원소들 중 최댓값:", max_value)

리스트 원소들: [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값: 60

In [31]:
# 사용자로부터 5개의 수를 입력받기
numbers = list(map(int, input("5개의 수를 입력하세요: ").split()))

# 합 평균 최대값 최소값 계산
total = sum(numbers)
average = total / len(numbers)
maximum = max(numbers)
minimum = min(numbers)

print("합:", total)
print("평균:", average)
print("최댓값:", maximum)
print("최솟값:", minimum)

5개의 수를 입력하세요: 45 67 20 34 2
합: 168
평균: 33.6
최댓값: 67
최솟값: 2

In [32]:
import math

n = int(input("n을 입력하세요: "))

numbers = list(map(int, input(f"{n}개의 수를 입력하세요: ").split()))

# 평균 계산
mean = sum(numbers) / n

# 표준편차 계산
variance = sum((x - mean) ** 2 for x in numbers) / n
standard_deviation = math.sqrt(variance)

# 결과 출력
print("합:", sum(numbers))
print("평균:", mean)
print("표준편차:", standard_deviation)

n을 입력하세요: 10
10개의 수를 입력하세요: 45 67 20 34 2 100 23 45 67 89
합: 492
평균: 49.2
표준편차: 29.71800800861323

In [41]:
greet = 'Have a beautiful day'
greet[ 0 : 4]
greet[ 6 :16]
greet[ 17 :20]

'day'

In [42]:
#  animals 리스트 생성
animals = ['dog', 'cat', 'tiger', 'lion']
print(animals)

#  리스트의 원소들을 한 칸씩 원형으로 이동
animals = animals[1:] + animals[:1]  # dog를 맨 뒤로 이동
print(animals)

#  모든 요소를 순회하며 문장 출력
for animal in animals:
    print(f'I love {animal}.')

['dog', 'cat', 'tiger', 'lion']
['cat', 'tiger', 'lion', 'dog']
I love cat.
I love tiger.
I love lion.
I love dog.

In [47]:
# 주어진 문자열 리스트 s_list를 초기화
s_list = ['abc', 'bcd', 'abc', 'abba', 'cdcc', 'opq', 'opq']
# 중복을 제거한 문자열을 저장할 빈 리스트 new_s_list를 초기화
new_s_list = []

# s_list의 각 요소에 대해 반복
for item in s_list:
    #  item이 new_s_list에 아직 없다면 (중복되지 않았다면)
    if item not in new_s_list:
        # new_s_list에 item을 추가
        new_s_list.append(item)

# s_list의 내용을 출력
print("s_list =", s_list)
# 중복이 제거된 new_s_list의 내용을 출력
print("new_s_list =", new_s_list)

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [51]:
src = 'a2b3c6a2c3f1g1'
output = ''  # 결과 문자열 초기화

i = 0  # 인덱스 초기화
while i < len(src):
    char = src[i]
    i += 1

    # 숫자가 있는지 확인
    count = 0
    while i < len(src) and src[i].isdigit():
        count = count * 10 + int(src[i])  # 숫자 조합
        i += 1

    # 결과 문자열에 추가
    output += char * count


print("src =", src)  #
print("output =", output)

src = a2b3c6a2c3f1g1
output = aabbbccccccaacccfg

In [54]:
# 각 사람의 정보를 담는 리스트 생성
person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

# 리스트에 담긴 사람 수를 계산하는 함수
def how_many_persons(person_list):
    return len(person_list)

# 리스트에 담긴 사람들의 평균 나이를 계산하는 함수
def compute_average_age(person_list):
    total_age = sum(person[1] for person in person_list)
    return total_age / len(person_list)

#  리스트에 담긴 사람들의 성별을 분석하는 함수
def count_males_females(person_list):
    n_male = sum(person[2] for person in person_list)
    n_female = len(person_list) - n_male
    return n_male, n_female

#  리스트에 포함된 정보를 각 사람별로 분리하여 출력하는 함수
def display_persons(person_list):
    for person in person_list:
        print(person)

# 모든 사람 정보를 담은 리스트 생성
person_list = [person1, person2, person3, person4]

#  사람 수 계산 및 출력
n_persons = how_many_persons(person_list)
print(str(n_persons) + '명의 정보가 담겨 있습니다.')

#  평균 나이 계산 및 출력
average_age = compute_average_age(person_list)
print('평균 나이는 ' + str(average_age) + '세입니다.')

#  성별 분석 및 출력
n_male, n_female = count_males_females(person_list)
print('리스트에는 남자가 ' + str(n_male) + '명, 여자가 ' + str(n_female) + '명입니다.')

#  각 사람별 정보 출력
display_persons(person_list)

4명의 정보가 담겨 있습니다.
평균 나이는 26.75세입니다.
리스트에는 남자가 3명, 여자가 1명입니다.
['온달', 20, 1, 180.0, 100.0]
['이사부', 25, 1, 170.0, 70.0]
['평강', 22, 0, 169.0, 60.0]
['혁거세', 40, 1, 150.0, 50.0]