<a href="https://colab.research.google.com/github/giester/homework-uploading/blob/main/home_work_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4-1 다음과 같이 구구단의 2단을 출력하는 프로그램을 for 문과 while 문을 사용하여 각각 작성하여라.

In [4]:
for i in range(1, 10): #for 문
    print(f"2 * {i} = {2 * i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [6]:
i = 1  #while 문
while i <= 9:
    print(f"2 * {i} = {2 * i}")
    i += 1

2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}
2 * {i} = {2 * i}

4-3 다음의 프로그램은 어떤 결과값을 출력하는가? 출력 결과를 미리 예측한후 타이핑하여 그 결과가 맞는지 확인해 보도록 하자.

In [9]:
for i in range(3):
    print('Python ')
    print('is ')
    print('FUN! ')

Python
is
FUN!
Python
is
FUN!
Python
is
FUN!
Python
is
Python
is
Python
is
FUN!

In [10]:
for i in range(3):
    print('Python ')
    print('is ')
print('FUN! ')

Python
is
Python
is
Python
is
FUN!

In [11]:
for i in range(3):
    print('Python ')
print('is ')
print('FUN! ')

Python
Python
Python
is
FUN!

4-5 맛나 식당의 메뉴 주문프로그램 개발

In [13]:
print('맛나 식당에 오신것을 환영합니다., 메뉴는 다음과 같습니다.')
print('b)햄버거')
print('c)치킨')
print('p)피자')
a=input('b, c, p메뉴 선택하세요:')
while a!='b' and a!='c' and a!='p':
    a=input('다시 b c p 메뉴를 선택하세요:')


while a=='b' or a=='c' or a=='p':
    break
if a=='b':
        print('햄버거을 선택하였습니다')
elif a=='c':
          print('치킨을 선택하였습니다')
elif a=='p':
          print('피자을 선택하였습니다')

맛나 식당에 오신것을 환영합니다., 메뉴는 다음과 같습니다.
b)햄버거
c)치킨
p)피자
b, c, p메뉴 선택하세요:a
다시 b c p 메뉴를 선택하세요:b
햄버거을 선택하였습니다

4-7

In [25]:
n = int(input('숫자를 입력하세요: '))

if n == 1:
    print('소수가 아닙니다.')
else:
    is_prime = True
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            is_prime = False
            break

    if is_prime:
        print('소수 입니다')
    else:
        print('소수가 아닙니다')

숫자를 입력하세요: 1
는 소수가 아닙니다.

4-9

In [28]:
n= int(input('숫자:'))
for i in range(1,n+1):
    t=0
    for j in range(1,n+1):
        t+=j**2

i+=t
print('결과는', t ,'입니다')

숫자:5
결과는 55 입니다

4-11

In [33]:
depth = 30
climb = 7
slide = 5

day = 0
position = 0

while position < depth:
    day += 1
    position += climb
    print(f"day: {day}  달팽이의 위치: {position} 미터")

    if position >= depth:
        break

    position -= slide

print(f"\n우물을 탈출하는 데 걸린 날은 {day}일입니다.")

day: 1  달팽이의 위치: 7 미터
day: 2  달팽이의 위치: 9 미터
day: 3  달팽이의 위치: 11 미터
day: 4  달팽이의 위치: 13 미터
day: 5  달팽이의 위치: 15 미터
day: 6  달팽이의 위치: 17 미터
day: 7  달팽이의 위치: 19 미터
day: 8  달팽이의 위치: 21 미터
day: 9  달팽이의 위치: 23 미터
day: 10  달팽이의 위치: 25 미터
day: 11  달팽이의 위치: 27 미터
day: 12  달팽이의 위치: 29 미터
day: 13  달팽이의 위치: 31 미터

우물을 탈출하는 데 걸린 날은13일입니다.

4-13

In [32]:
print("세 자리의 암스트롱 수 : ", end="")

for num in range(100, 1000):
    hundreds = num // 100
    tens = (num // 10) % 10
    ones = num % 10

    if (hundreds**3 + tens**3 + ones**3) == num:
        print(num, end=" ")

세 자리의 암스트롱 수 : 153 370 371 407

4-15

In [35]:
fuel = 500

while True:
    change = int(input("충전 또는 사용한 연료를 +/- 기호와 함께 입력하세요: "))
    fuel += change  # 연료량 갱신

    print(f"현재 탱크량은 {fuel} 입니다.")

    if fuel < 50:
        print("경고: 연료가 10% 미만이니 충전하세요!")
        break

충전 또는 사용한 연료를 +/- 기호와 함께 입력하세요: +60
현재 탱크량은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하세요: -300
현재 탱크량은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하세요: -220
현재 탱크량은 40 입니다.
경고: 연료가 10% 미만이니 충전하세요!

4-17

In [40]:
def sum_of_divisors(n):   #이거 너무 어렵습니다.........ㅠ_ㅠ
    """주어진 수 n의 진약수(자기 자신 제외) 합을 구하는 함수"""
    divisors = {1}
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            divisors.add(i)
            if i != n // i:
                divisors.add(n // i)
    return sum(divisors)

for num in range(1, 20001):
    pair = sum_of_divisors(num)
    if pair > num and sum_of_divisors(pair) == num:
        print(f"{num}의 친화수 {pair}")
        print(f"{pair}의 친화수 {num}")

220의 친화수 284
284의 친화수 220
1184의 친화수 1210
1210의 친화수 1184
2620의 친화수 2924
2924의 친화수 2620
5020의 친화수 5564
5564의 친화수 5020
6232의 친화수 6368
6368의 친화수 6232
10744의 친화수 10856
10856의 친화수 10744
12285의 친화수 14595
14595의 친화수 12285
17296의 친화수 18416
18416의 친화수 17296